<h1>Listing applications</h1>

<table>
  <tr>
    <th>User</th>
    <th>Position</th>
    <th>Eingang</th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td title="<%= application.user_id %>"><%= "#{application.user.first_name} #{application.user.last_name}" %></td>
    <td><%= link_to application.position, application %></td>
    <td><%= application.created_at %></td>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

